body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
}

nav {
    background-color: darkgrey;
    display: block;
    width: 100%;
    min-height: 48px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: solid 1px #888888;
}

nav h1 {
    margin: auto;
    padding: 15px 30px 15px;
}

nav h1 a {
    text-decoration: none;
    color: #000000;
}

nav li {
    display: inline-block;
    list-style: none;
    margin-left: 10px;
    text-align: center;
}

nav li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: 150px;
    padding: 15px;
}

nav li a:hover {
    background-color: grey;
}

.nav {
    display: inline-block;
}

#start,
#center,
#end {
    width: 33%;
}

#end {
    text-align: right;
}

.content {
    display: block;
    width: 100%;
}

header {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#content {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

#mapa {
    width: 100%;
    height: 92vh;
}

.fuel {
    border-collapse: collapse;
    font-size: medium;
    width: 100%;
}

.fuel td,
th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 5px;
    width: 50%;
    text-align: center;
}

.fuel tr:nth-child(even) {
    background-color: #dddddd;
}

.rate {
    color: #444444;
    font-size: 14px;
}

.flash {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fbaeae;
    font-weight: bold;
    border-radius: 5px;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    background-color: #efefef;
    color: #333333;
    border: 2px solid #999999;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    flex: 3;
}

.search-bar input:focus {
    border: 2px solid #367fb0;
}

#close-search-button,
#advanced-search-button {
    width: 5%;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

#close-search-button {
    margin-left: -5%;
}

#advanced-search-button {
    font-size: 16px;
    left: -5%;
}

#advanced-search-button:hover {
    background-color: grey;
}

#close-search-button:hover {
    background-color: rgba(0, 0, 0, 0);
    transform: scale(1.3);
}

.search-button {
    width: 10%;
}

.search-button {
    background-color: #367fb0;
    border: none;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin: 1px 1px 1px 1px;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
}

.search-button:hover:not(:disabled) {
    background-color: #166da7;
}

.loginform {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.carform>* {
    width: 200px;
}

label {
    font-weight: bolder;
}

input,
select,
textarea {
    background-color: #efefef;
    color: #333333;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    outline: none;
}

input:focus,
select:focus,
textarea:focus {
    background-color: #ffffff;
    border: 1px solid #367fb0;
}

.loginform input[type=text],
.loginform input[type=password] {
    width: 100%;
    padding: 10px;
    border: 2px solid #999999;
}

.loginform input[type=text]:hover,
.loginform input[type=password]:hover {
    border: 2px solid #367fb0;
}

.loginform input[type=checkbox] {
    width: 25px;
    height: 25px;
    margin-top: 10px;
}

.loginform input[type=submit] {
    width: 300px;
    background-color: #367fb0;
    font-size: 20px;
    color: white;
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    letter-spacing: 2px;
    outline: none;
}

.loginform input[type=submit]:hover,
.loginform input[type=submit]:focus {
    background-color: #166da7;
}

li {
    margin-top: 10px;
}

.cars>* {
    width: 100%;
}

.car-description {
    width: 40%;
}

.car-description,
.car-edit {
    display: block;
    float: left;
}

.big-popup,
.search-box {
    position: absolute;
    background-color: #FFFFFF;
    z-index: 10000;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}

.big-popup {
    width: 35%;
    left: 32.5%;
    height: 80%;
    top: 15%;
}

.search-box {
    width: 30%;
    left: 33%;
    height: 230px;
    top: 75px;
}

.search-box input[type=number] {
    width: 75px !important;
}

.search-box input[type=text] {
    width: 550px !important;
}

.search-box select {
    width: 175px !important;
}

.search-box label {
    display: block;
    float: left;
    width: 150px !important;
    margin-left: 5px !important;
    margin-top: 5px;
}

.search-box button {
    margin-left: 90%;
}

.close-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.close-button:hover {
    transform: scale(1.3);
}

.station-info {
    margin: 10px;
    width: 100%;
}

.form-row {
    display: block;
    margin-top: 10px;
}

.info-row,
.comment-row {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.comment {
    margin-top: 10px;
    background-color: rgba(245, 245, 245, 0.8);
}

.my-comment {
    background-color: #eeeeee;
    border-radius: 5px;
    border-width: 1px;
    border-color: #eeeeee;
    border-style: dotted;
}

.comment-author,
.comment-created,
.comment-edit,
.comment-delete {
    margin-right: 10px;
}

.comment-author {
    font-weight: bold;
}

.yellow-stars {
    color: #FFFF00;
    text-shadow: 0 0 1px #111111;
}

.grey-stars {
    color: #BBBBBB;
    text-shadow: 0 0 1px #111111;
}

.comment-form textarea {
    width: 100%;
    height: 150px;
    resize: none;
}