{% from "_formhelpers.html" import render_field %}

<button type="button" class="close-button" title="Zamknij" onclick="hideGasStationInfo()">X</button>

<iframe name="blank-iframe" id="iframe" style="display: none" onload="refreshGasStationInfo();"></iframe>

<div class="station-info">
  {% for message in get_flashed_messages() %}
    <div class="flash">
      {{ message }}
    </div>
  {% endfor %}
  <div class="info-row">Stacja <strong>{{ station.name }}</strong></div>
  <div class="info-row">
    {% include '_average_rate.html' %}
  </div>
  {% if current_user.is_authenticated %}
  <div class="info-row">
    <button class="button-as-link" id="show-comment-down" type="button" onclick="showAddComment()"  style="display: none">Dodaj nowy komentarz &#11205;</button>
    <button class="button-as-link" id="show-comment-up" type="button" onclick="showAddComment()">Dodaj nowy komentarz &#11206;</button>
    <form class="comment-form" id="comment-form" action="{{ url_for('main.add_comment', id=station.id) }}" method="POST" target="blank-iframe" style="display: none">
    {{ form.csrf_token }}
    {{ render_field(form.rate) }}
    {{ render_field(form.comment) }}
    {{ render_field(form.submit) }}
    </form>
  </div>
  {% endif %}
  <div class="info-row">
    {% for comment in station.comments %}
    {% if current_user == comment.user %}
    <div class="comment my-comment">
    {% else %}
    <div class="comment">
    {% endif %}
      <div class="comment-row">
        <span class="comment-author">{{ comment.user.username }}</span> 
        <span class="comment-created">{{ comment.created_at }}</span> 
        {% if current_user == comment.user %}
        <span class="comment-delete">
        <button type="button" id="delete-comment-button" title="Usuń komentarz" onclick="deleteComment({{ station.id }}, {{ comment.id }})">Usuń</button>
        </span>
        {% endif %}
      </div>
      {% if comment.rate %}
      <div class="comment-row">
        <p class="rate">
          <span class="yellow-stars">
          {% for n in range(comment.rate|int) %}&#9733{% endfor %}
          </span>
          <span class="grey-stars">
          {% for n in range(5 - comment.rate|int) %}&#9733{% endfor %}
          </span>
          {{ comment.rate }}
        </p>
      </div>
      {% endif %}
      {% if comment.comment %}
      <div class="comment-row">{{ comment.comment }}</div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
