<form class="search-form">
  <div class="info-row">
    <label>Nazwa stacji</label>
    <input type="text" name="gs_name">
    <div style="clear: both;"></div>
  </div>
  <div class="info-row">
    <label>Cena</label>
    <input name="gs_price_min" type="number" step="0.5" placeholder="od">
    <input name="gs_price_max" type="number" step="0.5" placeholder="do">
    <div style="clear: both;"></div>
  </div>
  <div class="info-row">
    <label>Paliwo</label>
    <select id="fuel-dropdown" name="gs_fuel">
      <option disabled selected value="">wybierz rodzaj paliwa</option>
      {% for fuel in fuels %}
      <option value="{{ fuel }}">{{ fuel }}</option>
      {% endfor %}
    </select>
    <div style="clear: both;"></div>
  </div>
  <div class="info-row">
    <label>Średnia ocena stacji</label>
    <input name="gs_rate_min" type="number" step="0.5" placeholder="od">
    <input name="gs_rate_max" type="number" step="0.5" placeholder="do">
    <div style="clear: both;"></div>
  </div>
  <div class="info-row">
    <button type="button" class="search-button" id="adv-search-button" title="Szukaj" onclick="advancedSearch()">Szukaj</button>
  </div>
</form>