<form class="search-bar">
  <input type="text" name="gas_station_name" title="Szukaj po nazwie stacji" placeholder="Szukaj po nazwie stacji"
    oninput="searchStringChanged()" onfocus="this.placeholder=''" onblur="this.placeholder='Szukaj po nazwie stacji'">
  <button type="button" id="close-search-button" title="Anuluj wyszukiwanie" style="display: none"
    onclick="endSearch()">X</button>
  <button type="button" id="advanced-search-button" title="Wyszukiwanie zaawansowane"
    onclick="showHideAdvancedSearchBox()">...</button>
  <button type="button" id="search-button" title="Szukaj" onclick="startSearch()">Szukaj</button>
</form>