<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <title>Mapa stacji benzynowych{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  {% endblock %}
</head>

<body>
  <nav>
    <div id="start" class="nav"><h1><a href="{{ url_for('main.index') }}" title="Wróć do strony głównej">Mapa stacji benzynowych</a></h1></div>
    <div id="center" class="nav">{% if mapa %} {% include '_searchbar.html' %} {% endif %}</div>
    <div id="end" class="nav">
      <ul>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('main.my_account') }}">Konto {{ current_user.username }}</a>
          <li><a href="{{ url_for('auth.logout') }}">Wyloguj</a>
        {% else %}
          <li><a href="{{ url_for('auth.login') }}">Logowanie</a>
          <li><a href="{{ url_for('auth.register') }}">Rejestracja</a>
        {% endif %}
      </ul>
    </div>
  </nav>

  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    
    {% for message in get_flashed_messages() %}
      <div class="flash">
        {{ message }}
      </div>
    {% endfor %}
    
    {% if mapa %}
      <div id="mapa" style="z-index: 0">
        <div id="big-popup" class="big-popup" style="display: none"></div>
        <div id="search-box" class="search-box" style="display: none">
          {% if mapa %} {% include '_searchbox.html' %} {% endif %}
        </div>
      </div>
      <div id="popup" class="ol-popup"></div>
    {% else %}
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    {% endif %}
  </section>

</body>

</html>