{% extends 'base.html' %}

{% block title %} - konto{% endblock %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='scripts/cars.js') }}"></script>
{% endblock %}

{% block header %}
<h1>Moje konto</h1>
{% endblock %}

{% block content %}
<div class="user">
  <ul>
    <li><b>Nazwa użytkownika:</b> {{ current_user.username }}</li>
    <li><b>Adres email:</b> {{ current_user.email }}</li>
    <li><b>Moje samochody:</b></li>
    <ul class="cars">
      {% for car in current_user.cars %}
      <li name="{{car.id}}"><span class="car-description">{{ car.make }} {{ car.model }}, spalanie: {{ car.combustion }}
          l/100km {{ car.fuel }}</span> <span class="car-edit"><button class="car-button" type="button"
            title="Edytuj samochód" onclick="editCar({{car.id}})">Edytuj</button> <button class="car-button" type="button"
            title="Usuń samochód" onclick="deleteCar({{car.id}})">Usuń</button></span></li>
      {% endfor %}
      <li><button class="car-button" type="button" onclick="addCar()">Dodaj nowy samochód</button></li>
    </ul>
  </ul>
</div>
{% endblock %}